# Package Files #
*.jar

# User-specific stuff:
.idea
*.iml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

### Gradle template
.gradle

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
